<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCollege</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/2231/2231533.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script src="js/picturefill.js" async></script>
</head>

<body>

    <header>

        <div class="logo">
            <span> MyCollege</span>
        </div>

        <div class="header-items">

            <ul>
                <li><a href="">Student Login</a></li>
                <li><a href="">Teacher Login</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Contact</a></li>
            </ul>


        </div>

        <div class="header-applications">

            <p>Now Taking Online Applications</p>

            <br>
            <button class="btn"><a href="">Apply Now</a></button>

        </div>



    </header>

    <div class="c1">


        <div class="buttons">

            <img src="https://cdn-icons-png.flaticon.com/128/9334/9334296.png" alt="" height="200px" width="200px">
            <br><a href="">Take a Tour</a>

        </div>

        <div class="buttons">

            <img src="https://cdn-icons-png.flaticon.com/128/9334/9334296.png" alt="" height="200px" width="200px">
            <br><a href="">Success Stories</a>

        </div>

        <div class="buttons">
            <img src="https://cdn-icons-png.flaticon.com/128/9334/9334296.png" alt="" height="200px" width="200px">
            <br><a href="">Important dates</a>

        </div>

        <div class="c2">
            <p>Browse our most popular courses <a href="">here</a></p>
        </div>

    </div>

    <div class="alumni">

        <p>See what our former students have to say</p>

        <div class="sarah">
            <img src="https://cdn.pixabay.com/photo/2016/11/14/05/15/academic-1822683__340.jpg" alt="">
            <p>Sarah's Story</p>

        </div>

        <div class="tom">
            <img src="https://cdn.pixabay.com/photo/2016/11/14/05/15/academic-1822683__340.jpg" alt="">
            <p>Tom's Story</p>

        </div>

    </div>

    <div class="facilities">
        <p>Discover our state of the art facilities <a href="">here</a></p>
        <img src="https://cdn.pixabay.com/photo/2013/05/02/21/23/basketball-108622__340.jpg" alt="">
    </div>

</body>

</html>